#one {
    width: 90%;
    /* margin: 0 auto; */
    color: rgba(248, 248, 248, 1);
    /* text-align: center; */
}

#one .header {
    font-size: x-large;
    text-decoration: underline;
    text-decoration-color: purple;
    padding: 1rem 0;
}

#one p {
    font-size: large;
}

@media (min-width: 1280px) {
    #one .header {
        font-size: xx-large;
    }

    #one p {
        font-size: x-large;
    }
}

@media (max-width: 669px) {
    #one {
        margin: 0 auto;
        padding: 1rem;
    }
}