#header .inner {
  color: rgba(171, 171, 171, 0.69);
  display: flex;
  max-width: 100%;
  z-index: 1;
}

#header .inner h1 strong {
  color: rgb(255, 255, 255);
}

@media (min-width: 1280px) {
  #header .inner h1 {
    font-size: x-large;
  }
}

@media (min-width: 670px) {
  #header .inner {
    padding: 2em;
    /* position: relative; */
    text-align: right;
    font-size: larger;
  }
}

@media (max-width: 669px) {
  #header .inner {
    text-align: center;
  }
}
