html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
button,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

hr {
    margin: 1rem 0;
    color: purple;
    width: 90%;
}

#content-w-sidebar {
  background-color: #272833;
  background-image: url(../../images/background1.jpg);
  display: flex; 
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(39, 40, 51, 0.8);
  line-height: 1.6;
  align-items: center;
  font: comic;
}

@media (min-width: 670px) {
  #content-w-sidebar {
    background-size: cover;
    background-repeat: no-repeat;
  }

  #content-w-sidebar > #sidebar {
    flex: 1 1 33%;
    align-content: center;
  }

  #content-w-sidebar > #main {
    flex: 1 1 67%;
    height: 100vh;
    overflow: scroll;
  }
}

@media (max-width: 669px) {
    #content-w-sidebar {
        flex-direction: column;
        min-height: 100vh;
        min-width: 365px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #content-w-sidebar > #sidebar {
        margin: 1rem 0;
    }

    hr {
        margin: 1rem auto;
    }
}