.language-header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;
    padding-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: purple;
}

.language-container {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    text-align: center;
}

.language-container > * {
    flex-basis: 100%;
}

.color {
    color: rgba(255, 255, 255, 0.739);
}

@media (max-width: 400px) {
    .language-container section {
        flex-wrap: wrap;
        flex-basis: 100px;
    }
}
