#two {
  width: 90%;
  color: white;
}

#two .header {
  font-size: x-large;
  text-decoration: underline;
  text-decoration-color: purple;
  padding: 0 0 1rem;
}

.project-grouping {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

.project-grouping > * {
    flex-basis: 100%;
  }

.card p {
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: 600;
}

.button-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 1280px) {
  #two .header {
    font-size: xx-large;
  }
}

.button-main {
  color: white;
  background-color: rgb(153, 0, 153);
  border: 2px solid purple;
  padding: 0.5rem;
  width: 10rem;
  text-align: center; 
}

.button-main:hover,
.button-main:active {
  color: rgb(153, 0, 153);
  background-color: white;
  /* border: 2px solid white; */
}

@media (max-width: 669px) {
  #two {
    margin: 0 auto;
    padding: 1rem;
  }

  .project-grouping {
      flex-direction: column;
      align-items: center;
  }
}
