.footer-container {
    display: flex;
    flex-direction: column;
}

.socials,
.copyright-container {
  display: flex;
  justify-content: center;
}

.socials-item {
  margin-right: 1rem;
}

.socials-item a,
.copyright {
  color: rgba(255, 255, 255, 0.513);
}

.copyright { 
    font-size: x-small;
}

.socials-item a:hover,
.socials-item a:active {
  color: white;
}